In [1]:
import numpy as np
import pandas as pd
import pycountry # handles country codes
import country_converter as coco # handles messy country codes
import seaborn as sns


import matplotlib.pyplot as plt
from matplotlib import rc
import pandas.plotting as pdp

# BMI

In [3]:
# importing the dataset
BMI_raw_data = pd.read_csv(r'BMI_dataset.csv')
BMI_raw_data

,Year,Sex,Country/Region/World,ISO,Prevalence of BMI<18.5 kg/m² (underweight),Prevalence of BMI<18.5 kg/m² (underweight) lower 95% uncertainty interval,Prevalence of BMI<18.5 kg/m² (underweight) upper 95% uncertainty interval,Prevalence of BMI>=30 kg/m² (obesity),Prevalence of BMI>=30 kg/m² (obesity) lower 95% uncertainty interval,Prevalence of BMI>=30 kg/m² (obesity) upper 95% uncertainty interval,...,Prevalence of BMI 25 kg/m² to <30 kg/m² upper 95% uncertainty interval,Prevalence of BMI 30 kg/m² to <35 kg/m²,Prevalence of BMI 30 kg/m² to <35 kg/m² lower 95% uncertainty interval,Prevalence of BMI 30 kg/m² to <35 kg/m² upper 95% uncertainty interval,Prevalence of BMI 35 kg/m² to <40 kg/m²,Prevalence of BMI 35 kg/m² to <40 kg/m² lower 95% uncertainty interval,Prevalence of BMI 35 kg/m² to <40 kg/m² upper 95% uncertainty interval,Prevalence of BMI >=40 kg/m² (morbid obesity),Prevalence of BMI >=40 kg/m² (morbid obesity) lower 95% uncertainty interval,Prevalence of BMI >=40 kg/m² (morbid obesity) upper 95% uncertainty interval
0,1990,Women,Afghanistan,AFG,0.303863,0.201758,0.410604,0.022154,0.010899,0.039286,...,0.110094,0.015803,0.005923,0.031791,0.004524,0.001313,0.010613,0.001828,0.000422,0.004899
1,1991,Women,Afghanistan,AFG,0.295759,0.196592,0.398736,0.023974,0.012219,0.041754,...,0.115872,0.017127,0.006718,0.033456,0.004890,0.001494,0.011148,0.001956,0.000479,0.005152
2,1992,Women,Afghanistan,AFG,0.287598,0.192696,0.387219,0.025944,0.013616,0.044214,...,0.121302,0.018561,0.007648,0.035414,0.005289,0.001700,0.011787,0.002094,0.000537,0.005353
3,1993,Women,Afghanistan,AFG,0.279404,0.188091,0.376122,0.028079,0.015111,0.046864,...,0.126757,0.020111,0.008645,0.037554,0.005723,0.001934,0.012404,0.002244,0.000600,0.005564
4,1994,Women,Afghanistan,AFG,0.271206,0.184287,0.363707,0.030393,0.016852,0.049854,...,0.132982,0.021789,0.009747,0.039872,0.006196,0.002177,0.013018,0.002408,0.000662,0.005893
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13195,2018,Men,Zimbabwe,ZWE,0.096106,0.064403,0.133591,0.044341,0.031964,0.059460,...,0.172867,0.036137,0.024383,0.050538,0.004971,0.002359,0.009026,0.003232,0.001185,0.006908
13196,2019,Men,Zimbabwe,ZWE,0.094457,0.060850,0.135372,0.047170,0.033016,0.064525,...,0.177720,0.038133,0.025021,0.054589,0.005529,0.002432,0.010454,0.003508,0.001154,0.007953
13197,2020,Men,Zimbabwe,ZWE,0.092994,0.056720,0.137428,0.050280,0.034039,0.070282,...,0.182969,0.040287,0.025486,0.059375,0.006170,0.002549,0.012127,0.003822,0.001121,0.009187
13198,2021,Men,Zimbabwe,ZWE,0.091669,0.052741,0.140079,0.053656,0.035172,0.076885,...,0.188753,0.042571,0.025720,0.064344,0.006905,0.002598,0.014271,0.004180,0.001085,0.010645
13199,2022,Men,Zimbabwe,ZWE,0.090420,0.048788,0.143128,0.057301,0.036100,0.083957,...,0.194729,0.044976,0.025773,0.069955,0.007741,0.002643,0.016801,0.004584,0.001027,0.012474

In [4]:
BMI_raw_data = BMI_raw_data[["Year", "Sex", "ISO", 
                              "Prevalence of BMI<18.5 kg/m² (underweight)", 
                              "Prevalence of BMI>=30 kg/m² (obesity)",
                              "Prevalence of BMI >=40 kg/m² (morbid obesity)"]]

BMI_raw_data

,Year,Sex,ISO,Prevalence of BMI<18.5 kg/m² (underweight),Prevalence of BMI>=30 kg/m² (obesity),Prevalence of BMI >=40 kg/m² (morbid obesity)
0,1990,Women,AFG,0.303863,0.022154,0.001828
1,1991,Women,AFG,0.295759,0.023974,0.001956
2,1992,Women,AFG,0.287598,0.025944,0.002094
3,1993,Women,AFG,0.279404,0.028079,0.002244
4,1994,Women,AFG,0.271206,0.030393,0.002408
...,...,...,...,...,...,...
13195,2018,Men,ZWE,0.096106,0.044341,0.003232
13196,2019,Men,ZWE,0.094457,0.047170,0.003508
13197,2020,Men,ZWE,0.092994,0.050280,0.003822
13198,2021,Men,ZWE,0.091669,0.053656,0.004180
13199,2022,Men,ZWE,0.090420,0.057301,0.004584

In [5]:
BMI_data = (
    BMI_raw_data
    .groupby(["Year", "ISO"], as_index=False)
    .agg({
        "Prevalence of BMI<18.5 kg/m² (underweight)": "mean",
        "Prevalence of BMI>=30 kg/m² (obesity)": "mean",
        "Prevalence of BMI >=40 kg/m² (morbid obesity)": "mean"
    })
)

# renaming columns
BMI_data.rename(columns={"Prevalence of BMI<18.5 kg/m² (underweight)" : "BMI_underweight",
                        "Prevalence of BMI>=30 kg/m² (obesity)" : "BMI_obesity",
                        "Prevalence of BMI >=40 kg/m² (morbid obesity)" : "BMI_morbid_obesity"}, inplace=True)

BMI_data

      Year  ISO  BMI_underweight  BMI_obesity  BMI_morbid_obesity
0     1990  AFG         0.277497     0.020300            0.001505
1     1990  AGO         0.158753     0.030964            0.001831
2     1990  ALB         0.011584     0.113533            0.003500
3     1990  AND         0.026767     0.116520            0.005146
4     1990  ARE         0.038866     0.232859            0.016944
...    ...  ...              ...          ...                 ...
6595  2022  WSM         0.003927     0.638833            0.165847
6596  2022  YEM         0.106327     0.140966            0.015138
6597  2022  ZAF         0.050773     0.309242            0.055423
6598  2022  ZMB         0.081791     0.111637            0.010668
6599  2022  ZWE         0.069699     0.137655            0.013342

[6600 rows x 5 columns]

In [6]:
BMI_data = BMI_data

# Height

In [8]:
# importing the dataset
height_raw_data = pd.read_csv(r'Height_dataset.csv')
height_raw_data

,Country,Sex,Year,Age group,Mean height,Mean height lower 95% uncertainty interval,Mean height upper 95% uncertainty interval,Mean height standard error
0,Afghanistan,Boys,1985,5,103.315204,92.912414,113.712811,5.295555
1,Afghanistan,Boys,1985,6,109.235659,99.914439,118.282644,4.718901
2,Afghanistan,Boys,1985,7,114.759466,106.310048,123.003367,4.270250
3,Afghanistan,Boys,1985,8,120.002304,112.202520,127.549987,3.924385
4,Afghanistan,Boys,1985,9,125.077305,117.880359,132.153791,3.662401
...,...,...,...,...,...,...,...,...
209995,Zimbabwe,Girls,2019,15,156.994944,155.459365,158.533808,0.787586
209996,Zimbabwe,Girls,2019,16,158.066542,156.678653,159.485423,0.721662
209997,Zimbabwe,Girls,2019,17,158.724366,157.376912,160.097738,0.691562
209998,Zimbabwe,Girls,2019,18,159.220151,157.883096,160.558243,0.681809
209999,Zimbabwe,Girls,2019,19,159.849064,158.382094,161.283973,0.732247

In [9]:
height_raw_data = height_raw_data[["Country", "Sex", "Year", "Age group", "Mean height"]]
height_raw_data

            Country    Sex  Year  Age group  Mean height
0       Afghanistan   Boys  1985          5   103.315204
1       Afghanistan   Boys  1985          6   109.235659
2       Afghanistan   Boys  1985          7   114.759466
3       Afghanistan   Boys  1985          8   120.002304
4       Afghanistan   Boys  1985          9   125.077305
...             ...    ...   ...        ...          ...
209995     Zimbabwe  Girls  2019         15   156.994944
209996     Zimbabwe  Girls  2019         16   158.066542
209997     Zimbabwe  Girls  2019         17   158.724366
209998     Zimbabwe  Girls  2019         18   159.220151
209999     Zimbabwe  Girls  2019         19   159.849064

[210000 rows x 5 columns]

In [10]:
height_data = height_raw_data[height_raw_data["Age group"].between(17, 19, inclusive="both")]
height_data

            Country    Sex  Year  Age group  Mean height
12      Afghanistan   Boys  1985         17   163.218661
13      Afghanistan   Boys  1985         18   164.315508
14      Afghanistan   Boys  1985         19   165.274786
27      Afghanistan   Boys  1986         17   163.398970
28      Afghanistan   Boys  1986         18   164.482669
...             ...    ...   ...        ...          ...
209983     Zimbabwe  Girls  2018         18   159.199046
209984     Zimbabwe  Girls  2018         19   159.831314
209997     Zimbabwe  Girls  2019         17   158.724366
209998     Zimbabwe  Girls  2019         18   159.220151
209999     Zimbabwe  Girls  2019         19   159.849064

[42000 rows x 5 columns]

In [11]:
# Group by (country, year) and average the 'height' column
height_data = (
    height_data
    .groupby(["Year", "Country"])["Mean height"]
    .mean()                          # This aggregates across all sexes
    .reset_index()
)

# renaming columns
height_data.rename(columns={"Mean height" : "Mean_Height"}, inplace=True)

height_data

      Year         Country  Mean_Height
0     1985     Afghanistan   158.586567
1     1985         Albania   166.967614
2     1985         Algeria   163.234730
3     1985  American Samoa   169.275400
4     1985         Andorra   169.370010
...    ...             ...          ...
6995  2019       Venezuela   166.152666
6996  2019        Viet Nam   163.069547
6997  2019           Yemen   158.021766
6998  2019          Zambia   161.815464
6999  2019        Zimbabwe   164.110962

[7000 rows x 3 columns]

In [12]:
import country_converter as coco # handles messy country codes

height_data['ISO'] = coco.convert(names=height_data['Country'], to='ISO3')
height_data = height_data[["Year","ISO","Mean_Height"]]
height_data

      Year  ISO  Mean_Height
0     1985  AFG   158.586567
1     1985  ALB   166.967614
2     1985  DZA   163.234730
3     1985  ASM   169.275400
4     1985  AND   169.370010
...    ...  ...          ...
6995  2019  VEN   166.152666
6996  2019  VNM   163.069547
6997  2019  YEM   158.021766
6998  2019  ZMB   161.815464
6999  2019  ZWE   164.110962

[7000 rows x 3 columns]

# Diabetes

In [14]:
# importing the dataset
diabetes_raw_data = pd.read_csv(r'Diabetes_dataset.csv')
diabetes_raw_data.head()

,Country/Region/World,ISO,Sex,Year,Age,Prevalence of diabetes (18+ years),Prevalence of diabetes (18+ years) lower 95% uncertainty interval,Prevalence of diabetes (18+ years) upper 95% uncertainty interval,Proportion of people with diabetes who were treated (30+ years),Proportion of people with diabetes who were treated (30+ years) lower 95% uncertainty interval,Proportion of people with diabetes who were treated (30+ years) upper 95% uncertainty interval
0,Afghanistan,AFG,Men,1990,Age-standardised,0.102185,0.043214,0.185308,0.234837,0.084755,0.464630
1,Afghanistan,AFG,Men,1991,Age-standardised,0.104102,0.044941,0.189061,0.234642,0.087199,0.457768
2,Afghanistan,AFG,Men,1992,Age-standardised,0.106136,0.046302,0.192939,0.234537,0.088188,0.451526
3,Afghanistan,AFG,Men,1993,Age-standardised,0.108260,0.047838,0.195853,0.234461,0.090243,0.448084
4,Afghanistan,AFG,Men,1994,Age-standardised,0.110458,0.048876,0.198207,0.234399,0.092058,0.440310

In [15]:
# selecting the wanted features
diabetes_data = diabetes_raw_data[["ISO", "Sex", "Year", "Prevalence of diabetes (18+ years)", 
                                       "Proportion of people with diabetes who were treated (30+ years)"]]


# renaming the fearures
diabetes_data = diabetes_data.rename(columns={"Prevalence of diabetes (18+ years)" : "Diabetes_in_18+",
                             "Proportion of people with diabetes who were treated (30+ years)" : "Diabetes_treated_in_30+"})

diabetes_data

       ISO    Sex  Year  Diabetes_in_18+  Diabetes_treated_in_30+
0      AFG    Men  1990         0.102185                 0.234837
1      AFG    Men  1991         0.104102                 0.234642
2      AFG    Men  1992         0.106136                 0.234537
3      AFG    Men  1993         0.108260                 0.234461
4      AFG    Men  1994         0.110458                 0.234399
...    ...    ...   ...              ...                      ...
13195  ZWE  Women  2018         0.117799                 0.216434
13196  ZWE  Women  2019         0.118978                 0.219242
13197  ZWE  Women  2020         0.120328                 0.222156
13198  ZWE  Women  2021         0.121864                 0.225162
13199  ZWE  Women  2022         0.123591                 0.228286

[13200 rows x 5 columns]

In [16]:
# grouping the Sex column into one

# diabetes_data = (diabetes_data.groupby(["Year", "ISO"]).mean().reset_index())

# Suppose your DataFrame is named 'diabetes_data'
# and it contains a "Sex" column along with numeric columns.
# We'll group by 'Year' and 'ISO' (country code), ignoring the 'Sex' column.
# Group by Year and country # Take the mean of numeric columns
diabetes_data = (diabetes_data.groupby(["Year", "ISO"], as_index=False).mean(numeric_only=True))
diabetes_data

      Year  ISO  Diabetes_in_18+  Diabetes_treated_in_30+
0     1990  AFG         0.105382                 0.223195
1     1990  AGO         0.095696                 0.119152
2     1990  ALB         0.054515                 0.352133
3     1990  AND         0.053176                 0.448982
4     1990  ARE         0.193311                 0.396845
...    ...  ...              ...                      ...
6595  2022  WSM         0.167484                 0.422392
6596  2022  YEM         0.182568                 0.403879
6597  2022  ZAF         0.136898                 0.403921
6598  2022  ZMB         0.125861                 0.144184
6599  2022  ZWE         0.112776                 0.229851

[6600 rows x 4 columns]

# Chloestorol

In [18]:
# importing the dataset
cholesterol_raw_data = pd.read_csv(r'Cholesterol_dataset.csv')
cholesterol_raw_data.head()

,Country/Region/World,ISO,Sex,Year,Mean total cholesterol (mmol/L),Mean total cholesterol lower 95% uncertainty interval (mmol/L),Mean total cholesterol upper 95% uncertainty interval (mmol/L),Mean non-HDL cholesterol (mmol/L),Mean non-HDL cholesterol lower 95% uncertainty interval (mmol/L),Mean non-HDL cholesterol upper 95% uncertainty interval (mmol/L),Mean HDL cholesterol (mmol/L),Mean HDL cholesterol lower 95% uncertainty interval (mmol/L),Mean HDL cholesterol upper 95% uncertainty interval (mmol/L)
0,Afghanistan,AFG,Men,1980,4.263545,3.539636,4.959936,2.919134,2.486837,3.339214,1.221839,0.926460,1.497237
1,Afghanistan,AFG,Men,1981,4.266327,3.569655,4.931141,2.934723,2.512884,3.344176,1.214738,0.932500,1.476955
2,Afghanistan,AFG,Men,1982,4.269252,3.612601,4.904159,2.950451,2.543536,3.345615,1.207716,0.935305,1.462378
3,Afghanistan,AFG,Men,1983,4.272437,3.646602,4.881011,2.966397,2.570361,3.353339,1.200752,0.943039,1.444552
4,Afghanistan,AFG,Men,1984,4.275822,3.673783,4.866126,2.982507,2.598309,3.360546,1.193839,0.947619,1.427836

In [19]:
# selecting the wanted features
cholesterol_data = cholesterol_raw_data[["ISO", "Sex", "Year", 
                                       "Mean non-HDL cholesterol (mmol/L)",
                                        "Mean HDL cholesterol (mmol/L)"]]


# renaming the fearures
cholesterol_data = cholesterol_data.rename(columns={"Mean non-HDL cholesterol (mmol/L)" : "non-HDL_cholesterol",
                             "Mean HDL cholesterol (mmol/L)" : "HDL_cholesterol"})

cholesterol_data

       ISO    Sex  Year  non-HDL_cholesterol  HDL_cholesterol
0      AFG    Men  1980             2.919134         1.221839
1      AFG    Men  1981             2.934723         1.214738
2      AFG    Men  1982             2.950451         1.207716
3      AFG    Men  1983             2.966397         1.200752
4      AFG    Men  1984             2.982507         1.193839
...    ...    ...   ...                  ...              ...
15595  ZWE  Women  2014             2.945255         1.312036
15596  ZWE  Women  2015             2.945829         1.310691
15597  ZWE  Women  2016             2.946790         1.309282
15598  ZWE  Women  2017             2.948084         1.307992
15599  ZWE  Women  2018             2.949272         1.306701

[15600 rows x 5 columns]

In [20]:
# grouping the Sex column into one
# Group by Year and country # Take the mean of numeric columns
cholesterol_data = (cholesterol_data.groupby(["Year", "ISO"], as_index=False).mean(numeric_only=True))
cholesterol_data

      Year  ISO  non-HDL_cholesterol  HDL_cholesterol
0     1980  AFG             2.901808         1.191692
1     1980  AGO             2.453130         1.138009
2     1980  ALB             3.792856         1.410311
3     1980  AND             4.794821         1.292382
4     1980  ARE             3.910081         0.985579
...    ...  ...                  ...              ...
7795  2018  WSM             3.699538         0.999413
7796  2018  YEM             3.409112         1.128920
7797  2018  ZAF             3.011379         1.288144
7798  2018  ZMB             2.724161         1.051407
7799  2018  ZWE             2.844692         1.271125

[7800 rows x 4 columns]

# Blood pressure

In [22]:
# importing the dataset
blood_pressure_raw_data = pd.read_csv(r'Blood_pressure_dataset.csv')
blood_pressure_raw_data.head()

,Country/Region/World,ISO,Sex,Year,Mean systolic blood pressure (mmHg),Mean systolic blood pressure lower 95% uncertainty interval (mmHg),Mean systolic blood pressure upper 95% uncertainty interval (mmHg),Mean diastolic blood pressure (mmHg),Mean diastolic blood pressure lower 95% uncertainty interval (mmHg),Mean diastolic blood pressure upper 95% uncertainty interval (mmHg),Prevalence of raised blood pressure,Prevalence of raised blood pressure lower 95% uncertainty interval,Prevalence of raised blood pressure upper 95% uncertainty interval
0,Afghanistan,AFG,Men,1975,121.078635,110.560019,131.280612,76.217903,69.432058,82.910254,0.251041,0.139465,0.389490
1,Afghanistan,AFG,Men,1976,121.213135,111.237480,130.972393,76.302382,69.841522,82.712827,0.252482,0.145232,0.385497
2,Afghanistan,AFG,Men,1977,121.352221,111.913929,130.796611,76.389730,70.243390,82.518096,0.254044,0.150297,0.380740
3,Afghanistan,AFG,Men,1978,121.493430,112.391051,130.595529,76.479429,70.680791,82.339212,0.255709,0.155271,0.376442
4,Afghanistan,AFG,Men,1979,121.636602,112.922056,130.367636,76.570570,70.991105,82.190582,0.257459,0.160139,0.372394

In [23]:
# selecting the wanted features
blood_pressure_data = blood_pressure_raw_data[["ISO", "Sex", "Year", 
                                       "Prevalence of raised blood pressure"]]


# renaming the fearures
blood_pressure_data = blood_pressure_data.rename(columns={"Prevalence of raised blood pressure" : "Raised_blood_pressure"})

blood_pressure_data

       ISO    Sex  Year  Raised_blood_pressure
0      AFG    Men  1975               0.251041
1      AFG    Men  1976               0.252482
2      AFG    Men  1977               0.254044
3      AFG    Men  1978               0.255709
4      AFG    Men  1979               0.257459
...    ...    ...   ...                    ...
16395  ZWE  Women  2011               0.292645
16396  ZWE  Women  2012               0.292299
16397  ZWE  Women  2013               0.292014
16398  ZWE  Women  2014               0.291787
16399  ZWE  Women  2015               0.291656

[16400 rows x 4 columns]

In [24]:
# grouping the Sex column into one
# Group by Year and country # Take the mean of numeric columns
blood_pressure_data = (blood_pressure_data.groupby(["Year", "ISO"], as_index=False).mean(numeric_only=True))
blood_pressure_data

      Year  ISO  Raised_blood_pressure
0     1975  AFG               0.241585
1     1975  AGO               0.269819
2     1975  ALB               0.329288
3     1975  AND               0.379226
4     1975  ARE               0.451737
...    ...  ...                    ...
8195  2015  WSM               0.238015
8196  2015  YEM               0.305529
8197  2015  ZAF               0.267100
8198  2015  ZMB               0.270545
8199  2015  ZWE               0.280348

[8200 rows x 3 columns]

# Hypertensiom

In [26]:
# importing the dataset
hypertension_raw_data = pd.read_csv(r'Hypertension_dataset.csv')
hypertension_raw_data.head()

,Country/Region/World,ISO,Sex,Year,Age,Prevalence of hypertension,Prevalence of hypertension lower 95% uncertainty interval,Prevalence of hypertension upper 95% uncertainty interval,Proportion of diagnosed hypertension among all hypertension,Proportion of diagnosed hypertension among all hypertension lower 95% uncertainty interval,Proportion of diagnosed hypertension among all hypertension upper 95% uncertainty interval,Proportion of treated hypertension among all hypertension,Proportion of treated hypertension among all hypertension lower 95% uncertainty interval,Proportion of treated hypertension among all hypertension upper 95% uncertainty interval,Proportion of controlled hypertension among all hypertension,Proportion of controlled hypertension among all hypertension lower 95% uncertainty interval,Proportion of controlled hypertension among all hypertension upper 95% uncertainty interval,Proportion of untreated stage 2 hypertension among all hypertension,Proportion of untreated stage 2 hypertension among all hypertension lower 95% uncertainty interval,Proportion of untreated stage 2 hypertension among all hypertension upper 95% uncertainty interval
0,Afghanistan,AFG,Men,1990,Age standardised (30-79 years),0.331843,0.190057,0.495322,0.217042,0.080527,0.416364,0.137442,0.030317,0.316249,0.026010,0.001348,0.105405,0.325092,0.169098,0.500993
1,Afghanistan,AFG,Men,1991,Age standardised (30-79 years),0.332705,0.196482,0.487221,0.222470,0.086410,0.414061,0.142342,0.034584,0.318273,0.026776,0.001727,0.102808,0.319920,0.171497,0.483893
2,Afghanistan,AFG,Men,1992,Age standardised (30-79 years),0.333643,0.202168,0.481609,0.228117,0.092876,0.415406,0.147571,0.039084,0.319533,0.027751,0.002184,0.101488,0.314806,0.172962,0.470403
3,Afghanistan,AFG,Men,1993,Age standardised (30-79 years),0.334619,0.209102,0.476224,0.233977,0.099647,0.416563,0.153131,0.043954,0.320049,0.028945,0.002624,0.099899,0.309792,0.173026,0.457284
4,Afghanistan,AFG,Men,1994,Age standardised (30-79 years),0.335512,0.214306,0.472759,0.239990,0.107187,0.418237,0.159044,0.049133,0.324701,0.030371,0.003202,0.100960,0.304867,0.174121,0.445977

In [27]:
# selecting the wanted features
hypertension_data = hypertension_raw_data[["ISO", "Sex", "Year", 
                                       "Prevalence of hypertension"]]


# renaming the fearures
hypertension_data = hypertension_data.rename(columns={"Prevalence of hypertension" : "Hypertension"})

hypertension_data

       ISO    Sex  Year  Hypertension
0      AFG    Men  1990      0.331843
1      AFG    Men  1991      0.332705
2      AFG    Men  1992      0.333643
3      AFG    Men  1993      0.334619
4      AFG    Men  1994      0.335512
...    ...    ...   ...           ...
11995  ZWE  Women  2015      0.471488
11996  ZWE  Women  2016      0.469835
11997  ZWE  Women  2017      0.468064
11998  ZWE  Women  2018      0.466275
11999  ZWE  Women  2019      0.464479

[12000 rows x 4 columns]

In [28]:
# grouping the Sex column into one
# Group by Year and country # Take the mean of numeric columns
hypertension_data = (hypertension_data.groupby(["Year", "ISO"], as_index=False).mean(numeric_only=True))
hypertension_data

      Year  ISO  Hypertension
0     1990  AFG      0.354517
1     1990  AGO      0.371134
2     1990  ALB      0.445351
3     1990  AND      0.382655
4     1990  ARE      0.363426
...    ...  ...           ...
5995  2019  WSM      0.382597
5996  2019  YEM      0.293149
5997  2019  ZAF      0.440432
5998  2019  ZMB      0.320313
5999  2019  ZWE      0.416545

[6000 rows x 3 columns]

# Merge

In [55]:
import pandas as pd
from functools import reduce

datasets = [BMI_data, height_data, diabetes_data, cholesterol_data, blood_pressure_data, hypertension_data]

def merge_on_year_iso(left, right):
    return pd.merge(left, right, on=["Year","ISO"], how="inner")

df_final = reduce(merge_on_year_iso, datasets)

df_final

,Year,ISO,BMI_underweight,BMI_obesity,BMI_morbid_obesity,Mean_Height,Diabetes_in_18+,Diabetes_treated_in_30+,non-HDL_cholesterol,HDL_cholesterol,Raised_blood_pressure,Hypertension
0,1990,AFG,0.277497,0.020300,0.001505,159.218734,0.105382,0.223195,3.071195,1.147670,0.270833,0.354517
1,1990,AGO,0.158753,0.030964,0.001831,161.105238,0.095696,0.119152,2.674961,1.101755,0.298877,0.371134
2,1990,ALB,0.011584,0.113533,0.003500,166.978608,0.054515,0.352133,3.819205,1.374840,0.315144,0.445351
3,1990,AND,0.026767,0.116520,0.005146,170.284625,0.053176,0.448982,4.487865,1.314271,0.325960,0.382655
4,1990,ARE,0.038866,0.232859,0.016944,164.124000,0.193311,0.396845,3.877870,1.041957,0.323594,0.363426
...,...,...,...,...,...,...,...,...,...,...,...,...
5169,2015,WSM,0.003908,0.593853,0.134794,167.236382,0.169472,0.363168,3.707483,1.039473,0.238015,0.368238
5170,2015,YEM,0.108311,0.107274,0.009325,156.864804,0.157792,0.378167,3.439567,1.132402,0.305529,0.291132
5171,2015,ZAF,0.052232,0.290966,0.051198,163.654005,0.145577,0.366957,3.079313,1.274381,0.267100,0.448790
5172,2015,ZMB,0.098681,0.078757,0.006363,161.561366,0.089348,0.155392,2.727782,1.053141,0.270545,0.343057
5173,2015,ZWE,0.077183,0.107474,0.009101,164.002762,0.109184,0.217342,2.849798,1.277460,0.280348,0.422549

In [57]:
output_filename = "anthropometric_data.csv"

df_final.to_csv(output_filename, index=False)

print(f"Exported final dataset to {output_filename}")

Exported final dataset to anthropometric_data.csv